snippet ft "Description" b
var $1 = function($2) {
	$0
	return $1
}
endsnippet


snippet creatc 

const $1 = React.creatComponent({
		$0
});

export default $1
endsnippet


# binding react function ES6
snippet bifu
this.$1 = this.$1.bind(this);
endsnippet

snippet fn "function declaration"
function ${1:niksi}() {
  ${0:${VISUAL}}
}
endsnippet
